<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />

    <script>
      $(document).ready(function () {
        showRegionRoots();
        showRegionSubs();
        $("select[id=regionRoot]").on("change", function () {
          showRegionSubs($(this).val());
        });
      });

      function showRegionRoots() {
        $.ajax({
          type: "GET",
          url: "/regionRoots",
          data: {},
          success: function (response) {
            let regionRoots = response["regionRoots"];
            for (let i = 0; i < regionRoots.length; i++) {
              let regionRootCode = regionRoots[i]["regionRootCode"];
              let regionRootName = regionRoots[i]["regionRootName"];
              let temp_html = `<option value="${regionRootCode}">${regionRootName}</option>`;
              $("#regionRoot").append(temp_html);
            }
          },
        });
      }

      function showRegionSubs(regionRootCode) {
        $("#regionSub").empty();
        if (!regionRootCode) {
          regionRootCode = 1;
        }
        $.ajax({
          type: "GET",
          url: `/regionRoots/${regionRootCode}`,
          data: {},
          success: function (response) {
            let regionRoot = response["regionRoot"];
            let regionSubs = regionRoot["regionSubs"];

            for (let i = 0; i < regionSubs.length; i++) {
              let regionSubCode = regionSubs[i]["regionSubCode"];
              let regionSubName = regionSubs[i]["regionSubName"];
              let temp_html = `<option value="${regionSubCode}">${regionSubName}</option>`;
              $("#regionSub").append(temp_html);
            }
          },
        });
      }

      function showValues() {
        console.log(
          $("select[id=regionRoot]").val(),
          $("select[id=regionSub]").val()
        );
      }
    </script>

    <title>Document</title>
  </head>
  <body>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="regionRoot">지역</label>
      </div>
      <select class="custom-select" id="regionRoot"></select>
      <select class="custom-select" id="regionSub"></select>
      <button onclick="showValues()" type="button" class="btn btn-primary">
        확인
      </button>
    </div>
  </body>
</html>
