<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Stylish&display=swap"
      rel="stylesheet"
    />

    <style>
      * {
        font-family: "Noto Sans KR", sans-serif;
      }
      body {
        width: 80%;
        margin: 0 auto;
      }
      #poster {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 10px;
      }
      #movie_info {
        display: flex;
      }
      #carouselExampleSlidesOnly {
        height: 45vh;
      }
      .carousel-item {
        background-color: black;
        padding: 10px;
      }
      .carousel-item .row {
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 85%;
        margin: 0 auto;
        color: white;
      }
      .poster-no,
      .poster-title {
        display: flex;
        justify-content: center;
      }
      #timetables {
        display: flex;
        justify-content: space-between;
      }
    </style>

    <title>moviemoa - sample</title>
  </head>
  <body>
    <h1 class="display-4 text-center">오늘의 영화</h1>
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner" id="poster-inner">
        <div class="carousel-item active" id="poster-pg1"></div>
        <div class="carousel-item" id="poster-pg2"></div>
        <div class="carousel-item" id="poster-pg3"></div>
        <div class="carousel-item" id="poster-pg4"></div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="input-group mb-3 mt-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="regionRoot">지역</label>
      </div>
      <select class="custom-select" id="regionRoot"></select>
      <select class="custom-select" id="regionSub"></select>
      <div class="input-group-prepend">
        <label class="input-group-text" for="hour">시간</label>
      </div>
      <select class="custom-select" id="hour">
        <option value="09">09:00~</option>
        <option value="10">10:00~</option>
        <option value="11">11:00~</option>
        <option value="12">12:00~</option>
        <option value="13">13:00~</option>
        <option value="14">14:00~</option>
        <option value="16">16:00~</option>
        <option value="17">17:00~</option>
        <option value="18">18:00~</option>
        <option value="19">19:00~</option>
        <option value="20">20:00~</option>
        <option value="21">21:00~</option>
        <option value="22">22:00~</option>
        <option value="23">23:00~</option>
      </select>
      <div class="input-group-prepend">
        <label class="input-group-text" for="top20movies">영화</label>
      </div>
      <select class="custom-select" id="top20movies"></select>
      <button onclick="search()" type="button" class="btn btn-primary">
        검색
      </button>
    </div>
    <div id="movie_info"></div>
    <div id="timetables" class="mt-3">
      <div id="cgv_tables" class="col-4"></div>
      <div id="mega_tables" class="col-4"></div>
      <div id="lotte_tables" class="col-4"></div>
    </div>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        showRegionRoots();
        showRegionSubs();
        showTop20Movies();
        $("select[id=regionRoot]").on("change", function () {
          showRegionSubs($(this).val());
        });
      });

      $(".carousel").carousel({
        interval: 3500,
      });

      function showRegionRoots() {
        $.ajax({
          type: "GET",
          url: "/regions",
          data: {},
          success: function (response) {
            let regions = response["regions"];
            for (let i = 0; i < regions.length; i++) {
              let regionRootCode = regions[i]["regionRootCode"];
              let regionRootName = regions[i]["regionRootName"];
              let temp_html = `<option value="${regionRootCode}">${regionRootName}</option>`;
              $("#regionRoot").append(temp_html);
            }
          },
        });
      }

      function showRegionSubs(regionRootCode) {
        $("#regionSub").empty();
        if (!regionRootCode) {
          regionRootCode = 1;
        }
        $.ajax({
          type: "GET",
          url: `/regions/${regionRootCode}`,
          data: {},
          success: function (response) {
            let region = response["region"];
            let regionSubs = region["regionSubs"];

            for (let i = 0; i < regionSubs.length; i++) {
              let regionSubCode = regionSubs[i]["regionSubCode"];
              let regionSubName = regionSubs[i]["regionSubName"];
              let temp_html = `<option value="${regionSubCode}">${regionSubName}</option>`;
              $("#regionSub").append(temp_html);
            }
          },
        });
      }

      function showTop20Movies() {
        $("#top20movies").empty();
        $("#poster").empty();
        $.ajax({
          type: "GET",
          url: "/top20movies",
          data: {},
          success: function (response) {
            let movies = response["movies"];

            let item_html = "";
            let j = 1;

            for (let i = 0; i < movies.length; i++) {
              let movie_code = movies[i]["code"];
              let movie_title = movies[i]["title"];
              let img_url = movies[i]["image_url"];
              let ranking = movies[i]["ranking"];
              let temp_html = `<option value="${movie_code}">${movie_title}</option>`;

              item_html += `<div class="poster" style="width: 10rem;">
                                  <h1 class="poster-no">${ranking}</h1>
                                  <img class="card-img-top" src="${img_url}?type=m203_290_2" alt="Card image cap" />
                                  <div class="poster-title">${movie_title}</div>
                                </div>`;
              if (i % 5 == 4) {
                item_html = `<div class="row">${item_html}</div>`;
                $(`#poster-pg${j}`).append(item_html);
                j++;
                item_html = "";
              }
              $("#top20movies").append(temp_html);
            }
          },
        });
      }

      function search() {
        let code = $("#top20movies").val();
        // showMovieDetail(code);
        showTimetables();
      }

      function showTimetables() {
        $("#cgv_tables").empty();
        $("#mega_tables").empty();
        $("#lotte_tables").empty();
        $("#movie_info").empty();

        let region_root = $("#regionRoot").val();
        let region_sub = $("#regionSub").val();
        let code = $("#top20movies").val();
        let hour = $("#hour").val();

        $.ajax({
          type: "GET",
          url: "/api/result",
          data: {
            region_root: region_root,
            region_sub: region_sub,
            code: code,
            hour: hour,
          },
          success: function (response) {
            console.log(response);

            // 영화정보 가져오기
            let movie = response["movie"];
            let title = movie["title"];
            let advance_rank = movie["ranking"];
            let advance_rate = movie["advanced_rate"];
            let img_url = movie["image_url"];

            let details = movie["detail_info"];
            let audience_point = details["audience_point"];
            let critic_point = details["critic_point"];
            let genre = details["genre"];
            let nation = details["nation"];
            let running_time = details["running_time"];
            let open_date = details["open_date"];
            let story = details["story"];

            let temp_html = `<img class="rounded float-left col-2" src="${img_url}?type=m203_290_2" alt="${title}" />
                              <div class="card col-10">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">${title} <button type="button" class="btn btn-info btn-sm" disabled>${advance_rate}%</button><button type="button" class="btn btn-secondary btn-info btn-sm ml-1" disabled>예매율${advance_rank}위</button></li>
                                <li class="list-group-item">관람객 평점: ${audience_point} | 평론가 평점: ${critic_point}</li>
                                <li class="list-group-item">${genre} | ${nation} | ${running_time} | ${open_date} 개봉</li>
                                <li class="list-group-item">${story}</li>
                              </ul>
                              </div>`;
            $("#movie_info").append(temp_html);

            // 상영시간표 가져오기
            let cgv_tables = response["cgv_tables"];
            let mega_tables = response["mega_tables"];
            let lotte_tables = response["lotte_tables"];

            let table_html = `<table class="table table-hover table-responsive">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">극장</th>
                                    <th scope="col">상영관</th>
                                    <th scope="col">상영시간</th>
                                    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>`;
            let end_table_html = "</tbody></table>";
            let cgv_html = "";
            for (let i = 0; i < cgv_tables.length; i++) {
              let theater = cgv_tables[i]["theater"];
              let auditorium = cgv_tables[i]["auditorium"];
              let show_time = cgv_tables[i]["show_time"];
              let reserve_url = cgv_tables[i]["reservation_url"];

              cgv_html += `<tr>
                            <th scope="row">${theater}</th>
                            <td>${auditorium}</td>
                            <td>${show_time}</td>
                            <td><a class="btn btn-primary" href="${reserve_url}" role="button">예매하기</a></td>
                          </tr>`;
            }
            $("#cgv_tables").append(table_html + cgv_html + end_table_html);

            let mega_html = "";
            for (let i = 0; i < mega_tables.length; i++) {
              let theater = mega_tables[i]["theater"];
              let auditorium = mega_tables[i]["auditorium"];
              let show_time = mega_tables[i]["show_time"];
              let reserve_url = mega_tables[i]["reservation_url"];

              mega_html += `<tr>
                            <th scope="row">${theater}</th>
                            <td>${auditorium}</td>
                            <td>${show_time}</td>
                            <td><a class="btn btn-primary" href="${reserve_url}" role="button">예매하기</a></td>
                          </tr>`;
            }
            $("#mega_tables").append(table_html + mega_html + end_table_html);

            let lotte_html = "";
            for (let i = 0; i < lotte_tables.length; i++) {
              let theater = lotte_tables[i]["theater"];
              let auditorium = lotte_tables[i]["auditorium"];
              let show_time = lotte_tables[i]["show_time"];
              let reserve_url = lotte_tables[i]["reservation_url"];

              lotte_html += `<tr>
                            <th scope="row">${theater}</th>
                            <td>${auditorium}</td>
                            <td>${show_time}</td>
                            <td><a class="btn btn-primary" href="${reserve_url}" role="button">예매하기</a></td>
                          </tr>`;
            }
            $("#lotte_tables").append(table_html + lotte_html + end_table_html);
          },
        });
      }
    </script>
  </body>
</html>
